{% extends 'base.html.twig' %}

{% block title %}Hello ConnexionController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/NEC/new_site_nec/NEW_ENERGIE_CONCEPT/src/Controller/ConnexionController.php'|file_link(0) }}">src/Controller/ConnexionController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/NEC/new_site_nec/NEW_ENERGIE_CONCEPT/templates/connexion/index.html.twig'|file_link(0) }}">templates/connexion/index.html.twig</a></code></li>
    </ul>

    <form action="{{ path('login') }}" method="post">
        <label for="username">Email:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}"/>

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password"/>

        {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"/> #}

        <button type="submit">login</button>

        <p>last_username: {{ last_username }}</p>
        <p>error: {{ error }}</p>
    </form>
</div>
{% endblock %}
